
@font-face {
  font-family: nabla;
  src: url("../font/Nabla-Regular.ttf");
}


body{
  background-color:#a17c59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  
}
nav{
  display: grid;
  background-color:#421c1b;
  
  
}


nav a {
  
  color:#ffd481;
  text-decoration: none;
  font-family: nabla;
}
 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items:center;
  padding: 0;
  /*margin:0;*/

}

li:hover{
  background-color:#683629;

}
li{
  padding: 40px;
  font-size: 30px;
}

form{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px;
  width: 50%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding: 10px;
  width: 50%;
  box-shadow: 2px 2px black;
  background-color: #683629;

}

label, span, #saisis {
  color: #ffd481;
  font-size: 20px;
}

form div{
  display:flex;
  flex-direction: column;
  align-items:center;
}
header{
  width: 100%;
}

h1 {
  text-align: center;
  font-family: nabla;
  font-size: 2em;
  background-color: #421c1b;
  border-radius: 50%;
  width: 50%;
}

#titre {
  display: flex;
  justify-content: center;
}
