.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

picture > img {
    width: 100%;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
}

article > div > a {
    color: black;
    margin: 10px 10px;
    text-align: center;
    padding : 10px;
    background-color:#d59055;
    text-decoration: none;
    border-radius: 5%;
}

article > div > a:hover {
    color: #ffd481;
    background-color: #421c1b;
}

article > .resume {
    
    border-radius: 2% ;
    background-color: #995b3d;
}

div {
    margin-top: 20px;
}

article > div > p, h2 {
    padding: 5px;
    margin: 10px;
}

h2 {
    text-align: center;
}
