footer {
    color :#ffd481;
    width: 100%;
    background-color: #421c1b;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

footer > div > h2 {
    border-bottom: 1px dashed #ffd481;
    width: 95%;
    color: #ffd481;
}

footer > div > a {
    font-size: 30px;
    padding-right: 20px;
}

footer a {
    text-decoration: none;
    color : #ffd481;
}

.contact, a:hover {
    color: #995b3d;
}

.reseaux > i:hover {
    color: #995b3d;
    cursor: pointer;
}
@media screen and (max-width:1000px) {
    body{
        width: 100%;
    }
    
}


/******* RESOLUTION FOOTER *********/

@media screen and (min-width:780px){
    
    footer {
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10px;
    }
}